// fonts
$outfit: "Outfit", sans-serif;

// global
$content-width: 1310px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

// colors
$black: #000;
$white: #fff;
