.btn {
  @include flex-all-center;

  line-height: normal;
  text-align: center;
  padding: 10px;
  color: #fff;
  border: 1px solid transparent;
  background-color: #000;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  @include for-desktop {
    &:hover {
      color: #000;
      border-color: #000;
      background-color: #fff;
    }
  }
}
